:root {
  --v-layout-left: 0; /* Ajusta el valor según sea necesario */
}

html {
  overflow-y: auto;
  background-color: beige;
}

.v-icon svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}
